@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  background-color: #faf8f3;
  color: #2f2416;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a88d6e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b6f4d;
}
